<h1>Blog</h1>
<form action="/new" method="POST" role="form"> 
 <textarea name = "content"class="form-control" rows="6" style="width: 400px"  placeholder="tupe text"> </textarea>
 </br>	
 <button type="submit" class="btn btn-primary">Submit</button>
</form>