<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>add new post</h2>

<form action="/new" methot = "POST">
	<div class="form-group">
		<textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
		</br>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>

</body>
</html>